<ol>
  <% @diary_entries.each do |diary_entry| %>
  <li class="diary_entry" id="diary_entry-<%= diary_entry.id %>">
    <a href='/diary_entries/<%= diary_entry.id %>' target="_blank">
      <%= diary_entry.title %>
    </a><br>
    <form action="/diary_entries/<%= diary_entry.id %>" method="post">
      <input type='hidden' name='_method' value='Delete'/>
    <input type="submit" value="Delete" />
    </form>
    <form action="/diary_entries/<%= diary_entry.id %>/edit" method="get">
      <input type="submit" value="Edit"/>
    </form>
    <form action="/diary_entries/<%= diary_entry.id %>/comments/new" method="get">
      <input type="submit" value="Add Comment"/>
    </form>
    <ul>
      <% diary_entry.comments.each do |comment| %>
      <li><%= comment.text %></li>
      <% end %>
    </ul>
  </li>
<% end %>
</ol>
